@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">  <i>"We Are Here"</i></h1>
    <h1 class="display-4">  <i>" To "</i></h1>
    <h1 class="display-4">  <i>" Serve You"</i></h1>


</div> 
